body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #807b78;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header .container {
    width: 80%;
    margin: 0 auto;
}

header a {
    color: #ecf0f1;
    text-decoration: none;
}

main {
    background-color: #f8f6f3;
    padding: 40px 0;
}

main .container {
    width: 80%;
    margin: 0 auto;
}

#projects {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.project {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
    border-left: 5px solid #807b78;
}

.project:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.project h3 {
    margin-top: 0;
}

.project a {
    text-decoration: none;
    color: #807b78;
    font-weight: 500;
}

footer {
    background-color: #807b78;
    color: white;
    text-align: center;
    padding: 10px 0;
}

footer .container {
    width: 80%;
    margin: 0 auto;
}
